
        /* jssor slider loading skin spin css */
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        .jssorb032 {position:absolute;}
        .jssorb032 .i {position:absolute;cursor:pointer;}
        .jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
        .jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .i.idn {opacity:.3;}

        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}

h2.gg a {
  margin-top: -20px;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  position: relative;
 }

 h2.aa a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  position: relative;
 }

h2.gg { margin-top: -1cm;    }

h2 a {  color: #;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  position: relative; }

h2 > a:hover:before,
h > a:focus:before {
  animation: .5s forwards hover-v linear;
  animation-fill-mode: forwards;
}
@keyframes hover-v {
  0% {
      transform: scaleX(0);
      height: 5px;
     }
  45% {   
      transform: scaleX(1.05);
      height: 5px;
     }
  55% {height: 5px;}
  100% {
      transform: scaleX(1.05);
      height: 3.8rem;
     }
}


        h2.aa {
        margin-top: -2.0cm;
        margin-bottom: -0.3cm;
        }


    


h5 a {
  color: #ffffff;
  font-size: 0.9em;
  text-decoration: none;
  display: inline-block;
  position: relative;
 }

a.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
        h5.az {
        margin-top: 1.5cm;
        
        }

                input{ 
                    background-color: transparent;
                    border-width: : 10px solid white;
                }

                input[type='text']{color: #ffffff}
                input[type='email']{color: #ffffff} 
                input[type='comments']{color: #ffffff}

                ::placeholder { color: white; }


            }                                     


        section.intro {
    background-color: gray;
}


                                span{ font-family: 'tahoma'; 
                                    font-size: 18px; }
                        

    
    footer{ background-color: #1a0000; }

      section.intro {
    background-color: #64b5f6;
    margin-top: 80px;

}

  h5.t1
  {font-size: 17px;
   margin-top: 15px;
   color:#fff;}
   div.col-md-4.col-sm-6.services.text-center{margin-bottom: 1.1cm;
   }
   div.col-md-4.col-sm-6.services.text-center:hover {
}

.product_view .modal-dialog{max-width: 820px; width: 97%;}

   .modal-header{background-color: #07a5e7}
           h3.modal-title{color: white; font-weight: bold }

             .product_view .modal-dialog{max-width: 820px; width: 97%;}




@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}


          input.envio:hover{
       
              animation: bounce 1s;

            background-color: transparent;
    cursor: pointer;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;}

    .fa-facebook-square{
        transition: 3s;
-moz-transition: 3s;
-webkit-transition: 3s;
-o-transition: 3s;
color: white;
       }
          .fa-facebook-square:hover {
       
       
    color: red;
    transform:rotate(360deg);
-ms-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
-o-transform:rotate(360deg);
}
        .fa-linkedin-square{
        transition: 3s;
-moz-transition: 3s;
-webkit-transition: 3s;
-o-transition: 3s;
color: white;
       }
          .fa-linkedin-square:hover {
       
       
    color: red;
    transform:rotate(360deg);
-ms-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
-o-transform:rotate(360deg);
}

  a.opcion:hover {
    box-shadow: 0px 0px 0px 5px #8db2c5; 
    transition: .3s ease;
    border-radius: 10px;
    background:#8db2c5;
    color:  white;
}
}

a.scroll-link:hover {
    box-shadow: 0px 0px 0px 5px #8db2c5; 
    transition: .3s ease;
    border-radius: 10px;
    background:#8db2c5;
    color: white;
}


  /* jssor slider loading skin spin css */
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        .jssorb052 .i {position:absolute;cursor:pointer;}
        .jssorb052 .i .b {fill:#000;fill-opacity:0.3;}
        .jssorb052 .i:hover .b {fill-opacity:.7;}
        .jssorb052 .iav .b {fill-opacity: 1;}
        .jssorb052 .i.idn {opacity:.3;}

        .jssora053 {display:block;position:absolute;cursor:pointer;}
        .jssora053 .a {fill:none;stroke:#fff;stroke-width:640;stroke-miterlimit:10;}
        .jssora053:hover {opacity:.8;}
        .jssora053.jssora053dn {opacity:.5;}
        .jssora053.jssora053ds {opacity:.3;pointer-events:none;}


       